    /* immagini,Layout */
body {
    background-image: url(img/background.jpg);
    background-size: cover;
    font-family: 'Golos Text', sans-serif;
    color: white;
}

#trasparent-box {
    background-color: rgba(00, 00, 00, 0.6);
    padding: 100px;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    text-align: center;
}

#logo-lim {
    width: 20%;
}

#title-pre-nav {
    color: #00dc00;
}

#nav-bar {
    background-color: #00dc00;
    padding: 10px;
}

    /* Monopattini */

.Stato-Carica {
    padding: 15px;
    border-radius: 5px;
}

#Scooter1 {
    background-color: #f4b453;
    margin-right: 50%;
}

#Scooter2 {
    background-color: #1ec31e;
    margin-right: 30%;
}

#Scooter3 {
    background-color: #bd4141;
    margin-right: 70%;
}